@charset "UTF-8";

<<<<<<< HEAD

=======
>>>>>>> da93472469b87cdb17b40f90325a65b13bbce325
.server-response{
    margin-top:30px;
    padding-left: 20px;
    border-color: red; 
    border-style: solid;
<<<<<<< HEAD
}
=======
}
>>>>>>> da93472469b87cdb17b40f90325a65b13bbce325
