<!DOCTYPE html>
<html xml:lang="en" lang="en">

<head>
<!-- Common headers -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> Minimal demo of Flask and SQLAlchemy </title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Validador parsley -->
<script src="{{ url_for('static', filename='parsley.min.js') }}"></script>

<script src="{{ url_for('static', filename='i18n/es.js') }}"></script>

<!-- Latest compiled Bootstrap -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='parsley.css') }}">

</head>


<body >



<div class="container">
  <div class="jumbotron">
    <h1> Minimal demo of CRUD app </h1>
    <p> Using SQLite to store data, 
        SQLAlchemy to access SQLite, 
        Flask as controller and server of the views, 
        Flask-Jinja2 to create html views 
        and Bootstrap to format the views.
     </p>
    
    {% if not session['username'] %}
      <p>Do you want to <a href="{{ url_for('login') }}">log in?</a> </p>
    {% else %}
      <p> {{session['username']}}, do you want to <a href="{{ url_for('logout') }}">log out?</a> </p>
   {% endif %}
 
  </div>
</div>



{% with messages = get_flashed_messages() %}
  {% if messages %}
<div class="container">
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
</div>
  {% endif %}
{% endwith %}


<div class="container" style="background-color:lavender;">

<h2> Add new person </h2>

<form id="add_person_form" name="myForm" 
      action="/add_person" method="POST" role="form"
      data-parsley-validate
      class="form-horizontal"
      >
    <div class="form-group">
 
    <div class="col-sm-4">
    <input type="text" name="firstname" class="form-control"
            placeholder="Enter first name" 
             
            minlength="2" 
            autofocus
            class="form-control"
            size="10"

            />
    </div>


    <div class="col-sm-4">
    <input type="text" name="lastname" class="form-control"
           placeholder="Enter last name" 
           required 
           minlength="2"
           class="form-control"
           size="10"
            />
    </div>

    <div class="col-sm-2">
    <button class="btn btn-primary btn-block" type="submit" >
        Add
    </button>
    </div>

    
    </div>

</form>

</div>


<div class="container" >
    <div class="col-sm-4"><h2> People list </h2></div>
</div>

<div class="container" >
 <div class="col-sm-4">First Name</div>
 <div class="col-sm-4">Last Name</div>
</div>

{% for person in people %}
    <div class="container" >

        <div class="form-group">
        <form id="edit_{{ person.person_id }}" 
            action="/edit_person" method="POST" 
            role="form"
            data-parsley-validate
            class="form-horizontal"
            >
           <div class="col-sm-4">
            
                <input type="text" 
                       name="firstname" 
                       value="{{ person.firstname }}" 
                       required 
                       minlength="2"
                       class="form-control"
                       size="10"
                       />
            </div>
            <div class="col-sm-4">
                <input type="text" name="lastname" 
                   value="{{ person.lastname }}" 
                   required 
                   minlength="2"
                   class="form-control"
                   size="10"
                   />  
            </div>
            <div class="col-sm-2">
                    <button type="submit" name="person_id"
                    class="btn btn-default" 
                    value="{{ person.person_id }}"
                    size="5"
                    >
                    Edit
                    </button>
            </div>
            
        </form>
        <form action="/delete_person" method="POST"
                class="form-horizontal">
                <div class="col-sm-2">

                    <button type="submit" name="person_id" 
                        class="btn btn-default"
                        value="{{ person.person_id }}"
                        size="5"
                        >
                        Delete
                    </button>
        </div>
        </form>
        </div>

</div>
        
{% endfor %}


<br/>



<div class="container" >
    <div class="col-sm-4">
        <a href="{{ url_for('static', filename='MVCDrawing.svg') }}"> MVC Diagram </a>
    </div>

</div>


</body>
</html>
