<!DOCTYPE html>
<html xml:lang="en" lang="en">

<head>
<!-- Common headers -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> Minimal demo of Flask and SQLAlchemy </title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


</head>


<body >



<div class="container">
  <div class="jumbotron">
    
    <h1> Minimal demo of CRUD app </h1>
    
    <p> Page not found.</p>

    <p>  <a href="{{ url_for('index') }}" > Go to main page </a></p>

  </div>

</div>




</body>
</html>
