{% extends "layout.html" %}


{% block title %} Not found - Minimal demo of Flask and SQLAlchemy {% endblock %}


{% block body %}


<div class="container">
  <div class="jumbotron">
    
    <h1> Minimal demo of CRUD app </h1>
    
    <p> Page not found.</p>

    <p>  <a href="{{ url_for('index') }}" > Go to main page </a></p>

  </div>

</div>



<div class="container">
  <div class="jumbotron">
    
    <h1> Server error: {{ msg }}</h1>
    

    <form  
      action="javascript:history.back()" method="get" role="form"
      class="form-horizontal"
      >
    <button class="btn btn-primary btn-block" type="submit" autofocus>
        Press to go back
    </button>

</form>

</div>

</div>


{% endblock body %}
